name: Android Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show repo files
        run: ls -la
